.pills ul {
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
}

.pills ul li {
    background-color: var(--cor1);
    color: white;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.pills ul li:first-child {
    margin-left: 0;
}

